<div class="header"></div>

<mat-card class="landing-card">
  <mat-card-content>
    <mat-card-title class="landing-title">Inscrivez-vous pour recevoir notre newsletter !</mat-card-title>
    <form #emailForm="ngForm" (ngSubmit)="onSubmitForm(emailForm)">
      <div class="email-input-container">
        <input id="emailInput" name="userEmail" type="email" [(ngModel)]="userEmail" placeholder="Votre adresse e-mail">
        <button type="submit" mat-raised-button>OK!</button>
      </div>
    </form>
    <div class="landing-links">
      <button (click)="onContinue()" mat-raised-button>Continuer vers Nice Places</button>
    </div>
  </mat-card-content>
</mat-card>

<div style="padding: 50px">
  <app-nice-places *ngFor="let nicePlace of lastThreeNicePlaces$ | async"></app-nice-places>
</div>
