.header {
  background-image: url("https://img.freepik.com/darmowe-zdjecie/mapa-metra-w-paryzu-z-lupa_23-2148232434.jpg?t=st=1710498123~exp=1710501723~hmac=cfd70fed89cb3e1222930369937f84bf8ab6df0d8972cdee6a22326843219a9c&w=1380");
  background-size: cover;
  // background-position: top;
  height: 650px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
