.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-form {
  width: 60%;
  margin: 50px auto;
  padding: 30px 50px 20px 50px;
  text-align: center;
  color: #db865e;
  // background-color: rgba(242, 204, 178, 0.505);
  box-shadow: lightgray 4px 4px 20px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


mat-card-actions {
  display: flex;
  justify-content: center;
  text-align: center;
}

.loading {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  height: inherit;
  z-index: 10;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-text {
  color: orange;
}
