.main-content {
  box-sizing: border-box;
  padding: 80px;
  max-width: 800px;
  background-color: rgba(242, 204, 178, 0.505);
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 0.25rem;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin: 0 0 0 1rem;
  padding-top: 0px;
}
