<mat-toolbar>
  <span>Nice Places</span>
  <ul>
    <!-- <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li> -->
    <li><a routerLink="" routerLinkActive="active">Home</a></li>
    <li><a routerLink="nice-places" routerLinkActive="active">Nice Places</a></li>
  </ul>
  <div class="spacer"></div>
  <ul>
    <li>What's yours nice place&nbsp; <button (click)="onAddNewNicePlace()">+</button></li>
    <!-- <li><a routerLink="/auth/login">Log-in</a></li> -->
    <li><a routerLink="/log-in">Log-in</a></li>
    <li><a routerLink="/join-us">Join us</a></li>
  </ul>
</mat-toolbar>
