<mat-card *ngIf="nicePlace$ | async as nicePlace">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ nicePlace.title | uppercase }}</h2>
    </mat-card-title>
    <mat-card-subtitle>
      Mis en ligne
      {{ nicePlace.createdDate | date : "à HH:mm, le d MMMM yyyy" }}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="nicePlace.imageUrl" [alt]="nicePlace.title" />
  <mat-card-content>
    <p>{{ nicePlace.description }}</p>
    <p *ngIf="nicePlace.location">Nice place à {{ nicePlace.location }}</p>
    <div>
      <button (click)="onLike(nicePlace.id, 'like')">{{ buttonText }}</button>
      <span>{{ nicePlace.likes }}</span>
    </div>
    <div>
      <button (click)="onLike(nicePlace.id, 'dislike')">{{ dislikeButtonText }}</button>
      <span>{{ nicePlace.dislikes }}</span>
    </div>
  </mat-card-content>
</mat-card>
