.form-card {
  width: 60%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #797979;
  background-color: rgba(255, 255, 255, 0.505);
  box-shadow: lightgray 4px 4px 20px;
  padding: 20px;
}

.form-group {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 16px;
  color: #797979;
  background-color: rgba(255, 255, 255, 0.505);
  cursor: pointer;
  margin-top: 10px;
  box-shadow: lightgray 4px 4px 20px;
}

button:hover {
  color: #797979;
  background-color: #ffffff91;
}
