<mat-card class="form-card">
  <mat-card-title><h2>Share your nice place with us</h2></mat-card-title>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Titre</mat-label>
      <input type="text" matInput formControlName="titre" />
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="Description" />
      <mat-error>Ce champ est requis</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>URL de l'image</mat-label>
      <input matInput id="imageUrl" type="text" formControlName="imageUrl" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Lieu</mat-label>
      <input matInput id="location" type="text" formControlName="location" />
    </mat-form-field>
  </div>
  <div>
    <button mat-button>Enregistrer</button>
  </div>
</mat-card>
